<div style="display: flex; align-items: center; justify-content: center; margin-top: 20px;">
    <img src="assets\img\FLECHA-VERDE.webp" alt="Imagen 1" style="width: 30px; height: 30px; margin-right: 10px;">
    <h1 style="margin: 0;">NUESTROS SERVICIOS</h1>
    <img src="assets\img\FLECHA-ROJA.webp" alt="Imagen 2" style="width: 30px; height: 30px; margin-left: 10px;">
</div>



    <style>
        .container {
            display: flex;
            justify-content: space-between;
        }
        .images {
            display: flex;
            gap: 10px;
        }
        .images img {
            width: 100px;
            height: auto;
        }
        .text {
            width: 50%;
            padding-left: 20px;
        }
    </style>
  

    <div class="container">
        <div class="images">
            <img src="assets\img\servicios\F1.webp" alt="Imagen 1">
            <img src="assets\img\servicios\F2.webp" alt="Imagen 2">
            <img src="assets\img\servicios\F3.webp" alt="Imagen 3">
        </div>
        <div class="text">
            <h2>Título del Texto</h2>
            <p>Aquí puedes agregar el texto que desees. Este es un ejemplo de cómo se verá el contenido al lado de las imágenes.</p>
        </div>
    </div>

