<!-- lo que renderiza el nav bar fijo -->
<app-navbar></app-navbar>

<!-- Lo que renderiza toda la pantalla inicial -->
<router-outlet name="inicio"></router-outlet>
<router-outlet name="carrusel"></router-outlet>
<router-outlet name="cobertura"></router-outlet>
<router-outlet name="alianzas"></router-outlet>
<router-outlet name="ubicacion"></router-outlet>

<!-- lo que renderiza nuestros servicios -->
<router-outlet name="servicios"></router-outlet>
<router-outlet name="servicios2"></router-outlet>

<!-- lo que renderiza acerca de nosostros y contacto -->
<router-outlet></router-outlet>

<!-- lo que redneriza el footer fiho -->
<app-footer></app-footer>