<app-navbar></app-navbar>
<app-inicio></app-inicio>
<br/>
<br/>
<br/>
<app-carrusel></app-carrusel>
<br/>
<br/>
<br/>
<app-cobertura></app-cobertura>
<br/>
<br/>
<br/> 
<app-alianzas></app-alianzas>
<br id="nosotros"/>
<br/>
<br/>
<app-ubicacion></app-ubicacion>
<br id="servicios"/>
<br/>
<br/>
<app-servicios></app-servicios>
<br>
<app-servicios2></app-servicios2>
<br/>
<br/>
<br/>
<app-filosofia></app-filosofia>
<br id="contacto"/>
<br/>
<br/>
<app-contacto></app-contacto>
<app-footer></app-footer>