<div style="display: flex; align-items: center; justify-content: center; margin-top: 20px; margin-bottom: 20px;">
    <img src="assets\img\FLECHA-VERDE.webp" alt="Imagen 1" style="width: 30px; height: 30px; margin-right: 10px;">
    <h1 style="margin: 0;">CONTACTO</h1>
    <img src="assets\img\FLECHA-ROJA.webp" alt="Imagen 2" style="width: 30px; height: 30px; margin-left: 10px;">
</div>


<style>
    body {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 100vh;
        margin: 0; /* Sin margen en el body */
        font-family: Arial, sans-serif;
    }
    .container {
        display: flex;
        width: 100%; /* 100% del ancho de la ventana */
        height: 70%;
        margin: 0; /* Sin margen en el contenedor */
    }
    .form-column {
        background-color: #ed3237; /* Color de fondo rojo */
        color: white;
        flex: 1; /* Ocupa el mismo espacio que la columna de imagen */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px; /* Espaciado interno */
    }
    .form-column h1 {
        margin-bottom: 20px;
    }
    .form-column input, .form-column textarea {
        width: 80%;
        padding: 10px;
        margin: 10px 0;
        border: none;
        border-radius: 5px;
    }
    .form-column input::placeholder {
        color: lightgray;
    }
    .form-column button {
        background-color: black;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    }
    .image-column {
        flex: 1; /* Ocupa el mismo espacio que la columna del formulario */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; /* Asegúrate de que tenga el mismo alto que la columna del formulario */
    }
    .image-column img {
        max-width: 50%;
        height: auto; /* Mantener la proporción de la imagen */
    }
</style>
<div class="container">
    <div class="form-column">
        <h1>¡Solicita una cotización!</h1>
        <input type="text" placeholder="Nombre">
        <input type="tel" placeholder="Teléfono">
        <input type="email" placeholder="Correo">
        <textarea placeholder="Mensaje" rows="4"></textarea>
        <button type="submit">Enviar</button>
        <p>Gracias por contactarnos.</p>
    </div>
    <div class="image-column">
        <img src="assets\img\contacto\perro-completo.webp" alt="Descripción de la imagen">
    </div>
</div>
