<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: Arial, sans-serif;
    }

    .container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .form-container {
        width: 60%;
        background-color: red;
        padding: 20px;
        border-radius: 0px;
    }

    h2 {
        text-align: center;
        color: white;
        
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input, textarea {
        width: 80%;
        padding: 10px;
        margin: 10px 0;
        border: none;
        border-radius: 5px;
        background-color: white;
    }

    textarea {
        height: 100px;
        resize: none;
    }

    button {
        padding: 3px 20px;
        background-color: black;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }

    .text-below {
        margin-top: 10px;
        color: white;
        text-align: center;
    }

    .image-container {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        max-width: 150%;
        height: auto;
    }

    /* Media query para pantallas pequeñas */
    @media (max-width: 768px) {
        .container {
            flex-direction: column;
            align-items: center;
        }

        .form-container {
            width: 100%;
        }

        .image-container {
            width: 100%;
            margin-top: 20px;
        }

        .image-container img {
            max-width: 50%;
            height: auto;
        }
    }
</style>
<br/>
<br/>

<br/>

<br/>


<div class="container">
    <div class="form-container">
        <h2>¡Solicita una cotización!</h2>
        <form action="https://formsubmit.co/luismoisesmolinarocha@gmail.com" method="POST">
            <input type="text" placeholder="*NOMBRE" name="Nombre" required>
            <input type="number" placeholder="*TELÉFONO" name="Teléfono" required>
            <input type="email" placeholder="*CORREO" name="Email" required>
            <textarea placeholder="*MENSAJE" name="Mnesaje" required></textarea>
            <input type="hidden" name="_captcha" value="false">
            <input type="hidden" name="_next" value="https://gruflosa.com.mx/">

            <button type="submit">ENVIAR</button>
            <p class="text-below" style="font-family: 'Ghaitsa', sans-serif;"><i class="fas fa-phone" style="margin-right: 5px; "></i> 
                332 741 66 23 &nbsp;&nbsp;&nbsp; logistica&#64;gruflosa.com</p>
        </form>
    </div>
    <div class="image-container">
        <img src="assets/img/contacto/perro-completo.webp" alt="Imagen">
    </div>
</div>
