<style>
    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; /* Permite que las columnas hagan salto de línea cuando sea necesario */
    }
    .column {
        width: 30%; /* Puedes ajustar el ancho para determinar cuántas columnas caben en una línea */
        padding: 10px;
        background-color: #00000000;
        margin: 10px; /* Este margen puedes cambiarlo según necesites más o menos espacio entre columnas */
        border-radius: 5px;
        text-align: justify;
    }
    .column h3 {
        text-align: left;
        position: relative;
        margin-bottom: 20px;
    }
    .column h3::after {
        content: '';
        display: block;
        width: 45%;
        height: 4px;
        background-color: #ed3237;
        margin-top: 5px;
        margin-left: 0;
    }
    .icon {
        margin-right: 0px;
        width: 16px;
        vertical-align: middle;
    }

.correo-text {
    font-family: 'Ghaitsa', sans-serif;
    font-size: 12px; /* Ajusta el tamaño según lo necesites */

}
    /* Media query para ajustar columnas en pantallas más pequeñas */
    @media (max-width: 768px) {
        .column {
            width: 100%; /* En pantallas pequeñas, cada columna ocupará todo el ancho */
            margin-bottom: 20px; /* Añade margen inferior entre columnas cuando hacen salto de línea */
        }
    }
</style>

<div class="container">
    <div class="column" style="padding-right: 88px;">
        <h3>ACERCA DE GRUFLOSA</h3>
        <p>Gruflosa ofrece servicios de transporte 
            de carga con la más alta calidad, 
            puntualidad y tecnología que nos ha
            mantenido en el mercado por más de 
            30 años.
        </p>
    </div>
    <div class="column" style="padding: 0%;">
        <h3>CONTACTOS GRUFLOSA</h3>
        <p>SUB GERENCIA<br>
            <img src="assets/img/ubicacion/TEL.webp" class="icon" alt="Teléfono"> 427 108 05 43
            <img src="assets/img/ubicacion/CORREO.webp" class="icon" alt="Correo">
            <span class="correo-text">administracion&#64;gruflosa.com</span><br>
            
            RECURSOS HUMANOS <br>
            <img src="assets/img/ubicacion/TEL.webp" class="icon" alt="Teléfono"> 427 124 20 09
            <img src="assets/img/ubicacion/CORREO.webp" class="icon" alt="Correo">
            <span class="correo-text">contralor&#64;gruflosa.com</span><br>
            
            FACTURACIÓN<br>
            <img src="assets/img/ubicacion/TEL.webp" class="icon" alt="Teléfono"> 812 536 51 51
            <img src="assets/img/ubicacion/CORREO.webp" class="icon" alt="Correo">
            <span class="correo-text">facturacion&#64;gruflosa.com</span><br>
        </p>
    </div>
    <div class="column">
        <h3>UBICACIÓN GRUFLOSA</h3>
        <p><img src="assets\img\ubicacion\UBI.webp" class="icon" alt="Ubicación"> Autopista Querétaro - México Km. 164 S/N
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Colonia Loma Linda, San Juan del Río, Qro.
        </p>
    </div>
</div>


    
    <style>
        .map-container {
            text-align: center;
            margin: 20px;
        }
        iframe {
            width: 100%;
            height: 450px;
            border: 0;
        }
    </style>

    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d119667.48646609756!2d-100.10831348353338!3d20.399007141787525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x85d30cdd5952fdd9%3A0xb877504ed371e091!2sAutopista%20Mexico%20Queretaro%20KM164%20Autopista%20Mexico%20Queretaro%20KM164%2C%2076820%20Loma%20Linda%2C%20Qro.!3m2!1d20.399026499999998!2d-100.02591179999999!5e0!3m2!1ses-419!2smx!4v1728590611976!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>